<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"/>

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <ul>
        <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('teamStandings') }}">View Standings</a>
    {% if username is none %}
        <a href="{{ url_for('login') }}">Login/Sign Up</a>
    {% else %}
        {% if userTeamID is none %}
            <a href="{{ url_for('players') }}">Select Players</a>
        {% endif %}
        {% if permission == "admin" %}
            <a href="{{ url_for('admin') }}">Admin</a>
        {% endif %}
        <a href="{{ url_for('logout') }}">Logout</a>
        <div id="userOptions" display="block" style="float: right; padding-right: 10px">
            <a id="username" href="{{ url_for('modifyUser', username=username) }}">User: {{ username }}</a>
            <a class="hide" style="display: none" href="{{ url_for('modifyUser', username=username) }}">Edit Profile</a>
            {% if userTeamID is not none %}
                <a class="hide" style="display: none" href="{{ url_for('teamStats', teamID=userTeamID) }}">View Team</a>
            {% endif %}
        </div>
    {% endif %}
    </ul>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">

        </div>
      </div>
    </nav>

    <div id="alertBanner">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div id="alert" class="alert alert-danger alter-dismissable fade show" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
            {% else %}
                    <div id="alert" class="alert alert-success alter-dismissable fade show" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous">
    </script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous">
    </script>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous">
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0-min.js') }}"></script>
		<script type=text/javascript>
			$(function() {
                $("#userOptions").hover(
                    () => $(".hide").css("display", "block"),
                    () => $(".hide").css("display", "none")
                );
			});
		</script>
  </body>
</html>