<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"/>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <title>{% block title %}Home{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon16.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon32.png')}}">
    <link rel="icon" type="image/png"  sizes="48x48" href="{{ url_for('static', filename='images/favicon48.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon180.png')}}">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm p-3 bg-dark text-white">
      <div class="container-fluid">
        <!-- Links -->
        <ul class="navbar-nav w-100">
          <li class="nav-item mr-auto">
            <a class="nav-link text-white" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{{ url_for('teamStandings') }}">View Standings</a>
          </li>
            {% if username is none %}
<!--                <li class="nav-item me-auto">-->
<!--                    <a class="nav-link text-white text-right w-100" href="{{ url_for('login') }}">Login/Sign Up</a>-->
<!--                </li>-->
                <div class="collapse navbar-collapse bg-dark" id="">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white" href="{{ url_for('login') }}">Login/Sign Up</a>
                        </li>
                    </ul>
                </div>
            {% else %}
                {% if userTeamID is none %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ url_for('players') }}">Create Team</a>
                    </li>
                {% endif %}
                {% if permission == "admin" %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ url_for('admin') }}">Admin</a>
                    </li>
                {% endif %}
            <div class="collapse navbar-collapse bg-dark" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ username }}</a>
                        <ul class="dropdown-menu dropdown-menu-end bg-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item bg-dark text-white text-end" href="{{ url_for('modifyUser', username=username) }}">Edit Profile</a></li>
                            {% if userTeamID is not none %}
                                <li><a class="dropdown-item bg-dark text-white text-end" href="{{ url_for('teamStats', teamID=userTeamID) }}">View Team</a></li>
                            {% endif %}
                            <li><a class="dropdown-item bg-dark text-white text-end" href="{{ url_for('logout') }}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            {% endif %}
        </ul>
      </div>
    </nav>
    <div class="text-center" style="background-image: url({{ url_for('static', filename='images/banner-bg.jpg')}}); background-position: center; background-repeat: no-repeat; background-size: cover;">
        <img class="img-fluid" src="{{ url_for('static', filename='images/banner.png')}}">
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
    </svg>

    <div id="alertBanner">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div id="alert" class="alert alert-danger d-flex align-items-center" role="alert">
                          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                          <div>
                            {{ message }}
                          </div>
                    </div>
                {% else %}
                    <div id="alert" class="alert alert-success d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                          <div>
                            {{ message }}
                          </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    <div class="w-100">
       <div class="row justify-content-center">
          <div id="leftColumn" class="col-md-2 bg-dark min-vh-100"></div>
          <div class="col-md-8">
              <div id="centerColumn" class="container w-100">{% block content %} {% endblock %}</div>
          </div>
          <div id="rightColumn" class="col-md-2 bg-dark min-vh-100"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous">
    </script>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous">
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0-min.js') }}"></script>
		<script type=text/javascript>
			$(function() {
                $("#userOptions").hover(
                    () => $("#editProfile, #viewTeam").css("display", "block"),
                    () => $("#editProfile, #viewTeam").css("display", "none")
                );
			});
		</script>
  </body>
</html>