<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hockey Pool</title>
</head>
<body>
    <h1>Welcome to The Hockey Pool</h1>
    {% if username is not none %}
        <p>Hello {{username}}</p>
    {% endif %}
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('teamStandings') }}">View Standings</a>
    {% if username is none %}
        <a href="{{ url_for('login') }}">Login/Sign Up</a>
    {% else %}
        {% if not teamInPool %}
            <a href="{{ url_for('players') }}">Select Players</a>
        {% endif %}
        <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
</body>
</html>