{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content%}
    <h1>Player Selection</h1>

    <label for="teamSelector">Team Name:</label>
    <select id="teamSelector" onclick="">
        {% for team in poolTeams %}
            <option value="{{team}}">{{team.teamName}}</option>
        {% endfor %}
    </select>
    <form method="POST" action="" enctype="multipart/form-data", style="width:50%;margin:auto">
        <label for="teamLogo">Logo:</label>
        <input type="file" name="teamLogo" id="teamLogo" accept=".png, .jfif, .jpg, .jpeg" required>
        <br>
        <label for="teamName">Team Name:</label>
        <input type="text" name="teamName" id="teamName" required>
        <p><input type="submit" value="Submit"></p>

        {% set count = namespace(value=1) %}
        {% for i in range(7) %}
            <div class="tableRows">
                {% for j in range(3) %}
                <div id="block{{count.value}}" class="block">
                    <h5>Group: {{count.value}}</h5>
                    <select name="block{{count.value}}" id="{{count.value}}" size="5", style="overflow-y:auto;padding:5px;border:0px" required>
                    {% for player in playerSelections %}
                        {% if player.blockID == count.value %}
                            <option value="{{player.playerID}}">{{ player.firstName + " " + player.lastName +
                                " (" + teams[player.teamID] + ")"}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </div>
                {% set count.value = count.value + 1 %}
                {% endfor %}
            </div>
        {% endfor %}
    </form>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/modifyTeam.js') }}"></script>
{% endblock %}