{% extends "base.html" %}
{% block title %}Modify User{% endblock %}
{% block content %}
    <form method="POST">
      <h3 align="center">Modify User</h3>
      <div class="form-group">
        <label for="userName">Username</label>
        <input
          type="text"
          class="form-control"
          id="userName"
          name="userName"
          {% if 'userName' in form %}
              value="{{form['userName']}}"
          {% else %}
            value="{{userToModify.username}}"
          {% endif %}
        />
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          {% if 'email' in form %}
              value="{{form['email']}}"
          {% else %}
            value="{{userToModify.emailAddress}}"
          {% endif %}
        />
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          {% if 'firstName' in form %}
            value="{{form['firstName']}}"
          {% else %}
            value="{{userToModify.firstName}}"
          {% endif %}
        />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          name="lastName"
          {% if 'lastName' in form %}
            value="{{form['lastName']}}"
          {% else %}
            value="{{userToModify.lastName}}"
          {% endif %}
        />
      </div>
      <div class="form-group">
        <label for="updatePassword">Update Password</label>
        <input
          type="checkbox"
          class="form-control"
          id="updatePassword"
          name="updatePassword"
        />
      </div>
      <div id="password1Container" class="form-group">
        <label for="password1">Password</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          value=""
        />
      </div>
      <div id="password2Container" class="form-group">
        <label for="password2">Password (Confirm)</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          value=""
        />
      </div>
      {% if permission == "admin" %}
        <div class="form-group">
          <label for="permission">Permission</label>
          <input
            type="text"
            class="form-control"
            id="permission"
            name="permission"
            {% if 'permission' in form %}
              value="{{form['permission']}}"
            {% else %}
              value="{{userToModify.permission}}"
            {% endif %}
            />
        </div>
      {% endif %}
      <br />
      <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/modifyUser.js') }}"></script>
{% endblock %}