<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        /*body {*/
        /*    text-align: center;*/
        /*}*/
        /*.tableRows{*/
        /*    position: relative;*/
        /*    display: flex;*/
        /*    flex-wrap: wrap;*/
        /*    justify-content: space-between;*/
        /*    margin: 0 -1em;*/
        /*}*/
        /*.block{*/
        /*    margin: auto;*/
        /*    padding: 1em;*/
        /*    width: 20%;*/
        /*    margin: 0 1em;*/
        /*}*/
    </style>
</head>
<body>
<!--    {% for team in poolTeams %}-->
<!--        <h1>Team Name: {{ team.teamName }}</h1>-->

<!--        <table>-->
<!--            <tr><th>RND</th><th>Player</th><th>Team</th><th>Position</th></tr>-->
<!--            {% for i in range(21) %}-->
<!--                <tr><td>{{i+1}}</td><td>{{team.player{{i+1}}}}</td><td>Team Blank</td><td>Position Blank</td></tr>-->
<!--            {% endfor %}-->
<!--        </table>-->
<!--    {% endfor %}-->

<!--    <br>-->
<!--    <a href="{{ url_for('index') }}">Home</a>-->
<!--    <a href="{{ url_for('update') }}">Update Photos</a>-->

<!--    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0-min.js') }}"></script>-->
<!--&lt;!&ndash;    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>&ndash;&gt;-->
</body>
</html>