<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Team Standings</h1>
    <table style="text-align:center">
        <tr><th>Rank</th><th>Team Name</th><th>Points</th><th>Point Difference</th><th>Rank Difference</th></tr>
        {% for team in teamStandings %}
            <tr><td>{{team[4]}}</td><td><a href="{{ url_for('teamStats', teamID=team[0]) }}">{{team[1]}}</a></td><td>{{team[2]}}</td><td>{{team[2]-team[3]}}</td>
                <td>{{team[4]-team[5]}}</td></tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('players') }}">Select Players</a>
    <a href="{{ url_for('teamStandings') }}">View Standings</a>
</body>
</html>