<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 style="line-height:75px;margin:auto;padding-left:75px"><img src="{{ url_for('static', filename='images/'+selectedTeam.teamLogo)}}" style="width:10%;vertical-align: middle"> {{ selectedTeam.teamName }}</h1>
        <table style="text-align:center">
            <tr><th>RND</th><th>Player</th><th>Team</th><th>Position</th><th>Games Played</th><th>Goals</th>
            <th>Assists</th><th>Points</th></tr>
            {% for player in playerStats %}
                {% if player[4] != "G" %}
                    <tr><td>{{player[0]}}</td><td>{{player[1] + " " + player[2]}}</td>
                        <td>{{player[3]}}</td><td>{{player[4]}}</td><td>{{player[5]}}</td>
                    <td>{{player[6]}}</td><td>{{player[7]}}</td><td>{{player[8]}}</td></tr>
                {% endif %}
            {% endfor %}
        </table>
         <br>
            <table style="text-align:center">
                <tr><th>RND</th><th>Player</th><th>Team</th><th>Position</th><th>Games Played</th><th>Wins</th>
                <th>Shutouts</th><th>Points</th></tr>
                {% for player in playerStats %}
                    {% if player[4] == "G" %}
                        <tr><td>{{player[0]}}</td><td>{{player[1] + " " + player[2]}}</td>
                            <td>{{player[3]}}</td><td>{{player[4]}}</td><td>{{player[5]}}</td>
                        <td>{{player[9]}}</td><td>{{player[10]}}</td><td>{{player[9] + player[10]*2}}</td></tr>
                    {% endif %}
                {% endfor %}
            </table>
        <br>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('players') }}">Select Players</a>
        <a href="{{ url_for('teamStandings') }}">View Standings</a>
</body>
</html>